/* Basic css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: $secondaryFont;
  color: $black;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  font-weight: 800;
  margin: 0 0 15px;
  line-height: 1.2;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.container {
  max-width: 1250px;
}
.gradient-btn {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-style: initial;
  font-size: 16px;
  font-family: $primaryFont;
  background: rgb(0, 123, 192);
  background: -moz-linear-gradient(
    185deg,
    rgba(0, 123, 192, 1) 0%,
    rgba(19, 190, 240, 1) 100%
  );
  background: -webkit-linear-gradient(
    185deg,
    rgba(0, 123, 192, 1) 0%,
    rgba(19, 190, 240, 1) 100%
  );
  background: linear-gradient(
    185deg,
    rgba(0, 123, 192, 1) 0%,
    rgba(19, 190, 240, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007bc0",endColorstr="#13bef0",GradientType=1);
  color: $white;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0px 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 10px #95e0f7;
  &:hover {
    color: $white;
  }
  &.global {
    min-width: 220px;
  }
}
.section-block {
  padding: 50px 0px;
}

.red-gradient {
  background: rgb(255, 76, 143);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 76, 143, 1) 0%,
    rgba(255, 179, 143, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 76, 143, 1) 0%,
    rgba(255, 179, 143, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 76, 143, 1) 0%,
    rgba(255, 179, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4c8f",endColorstr="#ffb38f",GradientType=1);
}
