/* Basic css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap");

html,
body {
  height: 100%;
  position: relative;
}
// html {
//   scroll-behavior: smooth;
// }
body {
  font-family: $secondaryFont;
  color: $black;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  padding-top: 169px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  font-weight: 800;
  margin: 0 0 15px;
  line-height: 1.2;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.container {
  max-width: 1250px;
}
.gradient-btn {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-style: initial;
  font-size: 16px;
  font-family: $primaryFont;
  background: rgb(0, 123, 192);
  background: -moz-linear-gradient(
    185deg,
    rgba(0, 123, 192, 1) 0%,
    rgba(19, 190, 240, 1) 100%
  );
  background: -webkit-linear-gradient(
    185deg,
    rgba(0, 123, 192, 1) 0%,
    rgba(19, 190, 240, 1) 100%
  );
  background: linear-gradient(
    185deg,
    rgba(0, 123, 192, 1) 0%,
    rgba(19, 190, 240, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007bc0",endColorstr="#13bef0",GradientType=1);
  color: $white;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0px 8px;
  transition: all 0.5s ease;
  box-shadow: 0px 2px 10px #95e0f7;
  &:hover {
    opacity: 0.8;
    color: $white;
  }
  &.global {
    min-width: 220px;
    margin: 5px 0px;
  }
  &.transparent {
    border: 1px solid $secondaryColor;
    background: transparent;
    color: $secondaryColor;
  }
}
.section-block {
  padding: 50px 0px;
}

.red-gradient {
  background: rgb(255, 76, 143);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 76, 143, 1) 0%,
    rgba(255, 179, 143, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 76, 143, 1) 0%,
    rgba(255, 179, 143, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 76, 143, 1) 0%,
    rgba(255, 179, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4c8f",endColorstr="#ffb38f",GradientType=1);
}

.download-btn {
  display: inline-block;
  background-color: transparent;
  transition: all 0.3s ease;
  margin: 4px 0px;
  &:hover {
    opacity: 0.9;
  }
}

.white-btn {
  display: inline-block;
  font-size: 14px;
  background-color: $white;
  padding: 10px 15px;
  min-width: 150px;
  text-align: center;
  font-weight: 700;
  color: $secondaryColor;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid $white;
  margin: 5px 0px;
  &:hover {
    background: transparent;
    color: $white;
  }
}

.red {
  color: $primaryColor;
}
.blue {
  color: $blueColor;
}

.scroll-to-top {
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 9;
  transition: all 0.3s ease;
  img {
    max-width: 50px;
    @include sm {
      max-width: 40px;
    }
  }
  &.active {
    opacity: 1;
  }
}

.video-modal .modal-content {
  border: 0px;
  border-radius: 0px;
  padding: 0px;
}

.video-modal .modal-content .modal-body {
  padding: 0px;
}

.video-modal .modal-content .close {
  position: absolute;
  right: 5px;
  top: -45px;
  z-index: 9;
  color: #fff;
  opacity: 1;
  font-size: 45px;
}
