/* Basic css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  padding-top: 169px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 0 0 15px;
  line-height: 1.2;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.container {
  max-width: 1250px;
}

.gradient-btn {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-style: initial;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background: #007bc0;
  background: linear-gradient(185deg, #007bc0 0%, #13bef0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007bc0",endColorstr="#13bef0",GradientType=1);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0px 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 2px 10px #95e0f7;
          box-shadow: 0px 2px 10px #95e0f7;
}

.gradient-btn:hover {
  opacity: 0.8;
  color: #ffffff;
}

.gradient-btn.global {
  min-width: 220px;
  margin: 5px 0px;
}

.gradient-btn.transparent {
  border: 1px solid #0086CA;
  background: transparent;
  color: #0086CA;
}

.section-block {
  padding: 50px 0px;
}

.red-gradient {
  background: #ff4c8f;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4c8f), to(#ffb38f));
  background: linear-gradient(180deg, #ff4c8f 0%, #ffb38f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4c8f",endColorstr="#ffb38f",GradientType=1);
}

.download-btn {
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 4px 0px;
}

.download-btn:hover {
  opacity: 0.9;
}

.white-btn {
  display: inline-block;
  font-size: 14px;
  background-color: #ffffff;
  padding: 10px 15px;
  min-width: 150px;
  text-align: center;
  font-weight: 700;
  color: #0086CA;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #ffffff;
  margin: 5px 0px;
}

.white-btn:hover {
  background: transparent;
  color: #ffffff;
}

.red {
  color: #FC7163;
}

@media only screen and (max-width: 767px) {
  .red {
    font-size: 16px;
  }
}

.blue {
  color: #1D44F9;
}

@media only screen and (max-width: 767px) {
  .blue {
    font-size: 16px;
  }
}

.header-area {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9;
}

.header-area .top-header {
  background: #ff4c8f;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4c8f), to(#ffb38f));
  background: linear-gradient(180deg, #ff4c8f 0%, #ffb38f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4c8f",endColorstr="#ffb38f",GradientType=1);
}

.header-area .top-text {
  text-align: center;
  padding: 10px 0px;
}

.header-area .top-text h4 {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  font-style: italic;
  margin: 0px;
}

@media only screen and (max-width: 767px) {
  .header-area .top-text h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .top-text .gradient-btn {
    display: block;
    padding: 7px;
    margin: 5px 0px;
  }
}

.header-area .header {
  background-color: #ffffff;
  padding: 10px 0px;
}

.header-area .header .navbar-brand img {
  max-width: 180px;
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar-brand img {
    max-width: 110px;
  }
}

.header-area .header .navbar {
  padding: 0px;
}

.header-area .header .navbar .navbar-toggler {
  font-size: 24px;
}

.header-area .header .navbar .navbar-toggler .navbar-toggler-icon {
  color: #0086CA;
  height: auto;
}

.header-area .header .navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .header .navbar .navbar-nav {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .navbar-nav {
    padding-left: 20px;
  }
}

.header-area .header .navbar .navbar-nav .nav-item .nav-link {
  color: #2c3033;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .header .navbar .navbar-nav .nav-item .nav-link {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .navbar-nav .nav-item .nav-link {
    text-align: left;
  }
}

.header-area .header .navbar .navbar-nav .nav-item .nav-link span {
  background-color: #0086CA;
  display: inline-block;
  color: #ffffff;
  font-weight: 800;
  padding: 0px 3px;
  border-radius: 6px;
  font-size: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-area .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}

.header-area .header .navbar .navbar-nav .nav-item.active .nav-link {
  color: #0086CA;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .header .navbar .navbar-nav .nav-item {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .navbar-nav .nav-item {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .header .navbar .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
}

.header-area .header .navbar .mobile-buttons {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-top: 1px solid rgba(112, 112, 112, 0.1);
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .header .navbar .mobile-buttons {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .mobile-buttons {
    display: block;
  }
}

.header-area .header .navbar .mobile-buttons .col:first-of-type {
  text-align: right;
}

.header-area .header .navbar .mobile-buttons .col:last-of-type {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .mobile-buttons .gradient-btn.global {
    display: block;
    min-width: auto;
    font-size: 10px;
    padding: 7px 13px;
  }
}

.header-area .header .navbar .dropdown {
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header-area .header .navbar .dropdown .nav-link {
  color: #000000;
  font-size: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-area .header .navbar .dropdown .nav-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .dropdown .nav-link {
    padding: 5px;
  }
}

.header-area .header .navbar .dropdown .dropdown-toggle img {
  max-width: 15px;
  margin-left: 3px;
}

.header-area .header .navbar .dropdown .dropdown-toggle:after {
  display: none;
}

.header-area .header .navbar .dropdown .dropdown-menu {
  border: 0px;
  background-color: #F0F6F8;
  left: auto;
  right: 0;
  border-radius: 5px;
}

.header-area .header .navbar .dropdown .dropdown-item.active,
.header-area .header .navbar .dropdown .dropdown-item:active {
  background: transparent;
  color: #0086CA;
}

.header-area .header .navbar .dropdown .dropdown-item {
  color: #2c3033;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .header .navbar .dropdown {
    position: absolute;
    right: 60px;
    top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .header .navbar .dropdown {
    position: absolute;
    right: 60px;
    top: 5px;
  }
}

.footer {
  background-color: #000000;
  padding-top: 50px;
}

.footer .footer-top {
  padding-bottom: 30px;
}

.footer .footer-top .container {
  border-bottom: 2px solid #191919;
  padding-bottom: 30px;
}

.footer .copy-text {
  color: #ffffff;
  display: block;
  margin-top: 20px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-link {
    margin-top: 15px;
  }
}

.footer .footer-link h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
}

.footer .footer-link ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-link ul li a {
  color: #ffffff;
  font-size: 14px;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .footer-link ul li a:hover {
  color: #0086CA;
}

.footer .footer-brands {
  padding-bottom: 20px;
}

.footer .footer-brands .title {
  color: #ffffff;
  font-size: 20px;
}

.footer .footer-brands .brand-list {
  overflow: hidden;
  clear: both;
  padding-bottom: 30px;
}

.footer .footer-brands .brand-list .single-brand {
  width: 14.285%;
  float: left;
  min-height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-brands .brand-list .single-brand img {
  padding: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-brands .brand-list .single-brand {
    width: 33.33%;
  }
}

@media only screen and (max-width: 767px) {
  .footer .footer-brands .brand-list .single-brand {
    width: 50%;
  }
}

.footer .footer-brands .brand-list.wallets .single-brand {
  width: 20%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-brands .brand-list.wallets .single-brand {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .footer .footer-brands .brand-list.wallets .single-brand {
    width: 50%;
  }
}

.footer .footer-brands .brand-list.wallets .single-brand img {
  width: 100%;
  max-width: 220px;
}

.footer .footer-bottom {
  border-top: 2px solid #2c3033;
}

.intro-area {
  background-image: url(../img/herobg.svg);
  background-size: cover;
  background-position: center center;
}

.intro-area .intro-text {
  text-align: center;
  padding: 60px 0px 30px;
}

.intro-area .intro-text h2 {
  font-weight: 900;
  color: #FC7163;
  font-size: 60px;
}

@media only screen and (max-width: 767px) {
  .intro-area .intro-text h2 {
    font-size: 35px;
  }
}

.intro-area .intro-text img.people {
  width: 100%;
  max-width: 900px;
}

.intro-area .intro-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0px;
  color: #2D3561;
}

@media only screen and (max-width: 767px) {
  .intro-area .intro-text p {
    font-size: 20px;
  }
}

.intro-area .intro-text p span {
  font-style: italic;
  color: #1D44F9;
  display: block;
}

.intro-video {
  display: inline-block;
  position: relative;
}

.intro-video img {
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
}

.intro-video .icon {
  position: absolute;
  left: 50%;
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro-video .icon img {
  max-width: 100px;
}

@media only screen and (max-width: 767px) {
  .intro-video .icon img {
    max-width: 50px;
  }
}

.mononpoly-section {
  background-image: url(../img/triangle-rotate.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 40px 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mononpoly-section {
    background: transparent;
  }
}

.list-block h2 {
  font-weight: 800;
  font-size: 35px;
  color: #2D3561;
}

.list-block h2 .red {
  color: #FC7163;
  font-size: 45px;
  font-weight: 900;
}

@media only screen and (max-width: 767px) {
  .list-block h2 .red {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .list-block h2 {
    font-size: 24px;
    padding-top: 20px;
  }
}

.list-block h4.blue {
  font-weight: 900;
  color: #0086CA;
  font-size: 28px;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  .list-block h4.blue {
    font-size: 24px;
  }
}

.list-block h4.thin {
  font-weight: 700;
}

.list-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.list-block ul li {
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #2D3561;
  font-weight: 800;
  font-size: 24px;
  padding-left: 50px;
  padding-bottom: 10px;
}

.list-block ul li .blue {
  color: #1D44F9;
  font-weight: 900;
}

.list-block ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background-image: url(../img/oval.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .list-block ul li:before {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .list-block ul li {
    font-size: 20px;
    padding-left: 35px;
  }
}

.list-block.no-list h4.navy {
  font-size: 30px;
  color: #2D3561;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list-block.no-list h4.navy {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .list-block.no-list h4.navy {
    margin-top: 20px;
  }
}

.list-block.no-list h4.navy .blue {
  color: #0086CA;
}

.list-block.no-list h4.navy .real-red {
  color: #CA0055;
}

@media only screen and (max-width: 767px) {
  .list-block.no-list h4.navy {
    font-size: 20px;
  }
}

.list-block.no-list ul li {
  padding-left: 0px;
  font-size: 20px;
}

.list-block.no-list ul li:before {
  display: none;
}

@media only screen and (max-width: 767px) {
  .list-block.no-list ul li {
    font-size: 16px;
  }
}

.roi-section {
  background-image: url(../img/roi.svg);
  padding: 50px 0px 0px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 600px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roi-section {
    min-height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .roi-section {
    min-height: auto;
  }
}

.roi-section > .container, .roi-section .row {
  min-height: 600px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roi-section > .container, .roi-section .row {
    min-height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .roi-section > .container, .roi-section .row {
    min-height: auto;
  }
}

.roi-section .roi-text-wrap {
  -webkit-box-shadow: -30px 50px 59px rgba(60, 78, 105, 0.1);
          box-shadow: -30px 50px 59px rgba(60, 78, 105, 0.1);
  padding: 50px 50px 70px;
}

@media only screen and (max-width: 767px) {
  .roi-section .roi-text-wrap {
    padding: 10px;
  }
}

.roi-section .roi-text-wrap .roi-text {
  max-width: 650px;
}

.roi-section .roi-text-wrap .roi-text h2 {
  font-size: 40px;
  color: #2D3561;
}

.roi-section .roi-text-wrap .roi-text h2 .blue {
  color: #0086CA;
}

.roi-section .roi-text-wrap .roi-text h2.sub-title {
  font-size: 60px;
  font-weight: 900;
}

.roi-section .roi-text-wrap .roi-text h2.sub-title .red {
  color: #FC7163;
}

@media only screen and (max-width: 767px) {
  .roi-section .roi-text-wrap .roi-text h2.sub-title {
    font-size: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roi-section .roi-text-wrap .roi-text h2.sub-title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .roi-section .roi-text-wrap .roi-text h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roi-section .roi-text-wrap .roi-text h2 {
    font-size: 35px;
  }
}

.roi-section .roi-text-wrap .roi-text .gradient-btn {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roi-section {
    background-size: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .roi-section {
    background: transparent;
  }
}

.knowledge-section {
  background-image: url(../img/hairy-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding: 70px 0px 0px;
}

.knowledge-section .knowledge-box {
  position: relative;
  background-color: #ffffff;
  border: 4px solid #1D44F9;
  border-radius: 15px;
  padding: 70px 50px;
  text-align: center;
  -webkit-box-shadow: 10px 50px 59px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 50px 59px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .knowledge-section .knowledge-box {
    padding: 50px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .knowledge-section .knowledge-box {
    padding: 20px;
  }
}

.knowledge-section .knowledge-box h2 {
  color: #2D3561;
  font-size: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .knowledge-section .knowledge-box h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .knowledge-section .knowledge-box h2 {
    font-size: 24px;
  }
}

.knowledge-section .knowledge-box h2 .blue {
  color: #0086CA;
}

.knowledge-section .knowledge-box h2.red {
  color: #FC7163;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .knowledge-section .knowledge-box h2.red {
    margin-top: 20px;
  }
}

.knowledge-section .knowledge-box .flying-man,
.knowledge-section .knowledge-box .flying-women {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .knowledge-section .knowledge-box .flying-man,
  .knowledge-section .knowledge-box .flying-women {
    width: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .knowledge-section .knowledge-box .flying-man,
  .knowledge-section .knowledge-box .flying-women {
    width: 50px;
  }
}

.knowledge-section .knowledge-box .flying-man {
  top: -20px;
  right: 0;
}

.knowledge-section .knowledge-box .flying-women {
  top: -180px;
  right: 130px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .knowledge-section .knowledge-box .flying-women {
    top: -70px;
  }
}

@media only screen and (max-width: 767px) {
  .knowledge-section .knowledge-box .flying-women {
    top: -70px;
  }
}

.categories-section {
  background-image: url(../img/illustration.svg);
  background-size: 600px;
  background-position: right top;
  background-repeat: no-repeat;
  padding-top: 70px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories-section {
    background: transparent;
  }
}

@media only screen and (max-width: 767px) {
  .categories-section {
    background: transparent;
  }
}

.videodesc-section {
  position: relative;
  padding-bottom: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .videodesc-section {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .videodesc-section {
    text-align: center;
    padding-bottom: 50px;
  }
}

.videodesc-section .intro-video {
  margin-top: -70px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .videodesc-section .intro-video {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .videodesc-section .intro-video {
    margin-top: 0px;
  }
}

.videodesc-section ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.videodesc-section ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .videodesc-section ul li {
    text-align: center;
    padding: 5px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .videodesc-section ul li {
    text-align: center;
    padding: 5px 0px;
    font-size: 16px;
  }
}

.videodesc-section .left li {
  text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .videodesc-section .left li {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .videodesc-section .left li {
    text-align: center;
  }
}

.videodesc-section .gradient-btn {
  margin-top: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .videodesc-section .gradient-btn {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .videodesc-section .gradient-btn {
    margin-top: 10px;
  }
}

.videodesc-section:before {
  position: absolute;
  content: "";
  background-image: url(../img/cog-bg.svg);
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
}

.brands-section {
  position: relative;
  padding: 80px 0px;
  background-color: #F0F6F8;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
}

.brands-section:after {
  content: "BITTO ARE NOW ON";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 150px;
  font-weight: 900;
  color: #DBDFEF;
  opacity: 0.1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brands-section:after {
    font-size: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .brands-section:after {
    font-size: 30px;
  }
}

.brands-section .title {
  font-size: 70px;
  font-weight: 900;
  color: #FC7163;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brands-section .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .brands-section .title {
    font-size: 30px;
  }
}

.brands-section .blue {
  font-family: "Montserrat", sans-serif;
  color: #1D44F9;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.brands-section .brands .col-lg-2 {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview-div {
  position: relative;
}

.preview-div .disclaimer-text p {
  font-style: italic;
  color: #FC7163;
  margin-top: 20px;
}

.preview-div .disclaimer-text p a {
  font-style: italic;
  color: #FC7163;
}

.preview-div .preview {
  border-radius: 30px;
}

@media only screen and (max-width: 767px) {
  .preview-div .preview {
    border-radius: 10px;
  }
}

.preview-div .preview-content {
  background-color: #ffffff;
  min-width: 300px;
  padding: 30px;
  border-radius: 45px;
  -webkit-box-shadow: 10px 50px 59px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 50px 59px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -30px;
  bottom: -20px;
  padding: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .preview-div .preview-content {
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .preview-div .preview-content {
    right: 0;
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .preview-div .preview-content {
    right: 0;
    min-width: auto;
  }
}

.preview-div .preview-content p {
  font-size: 20px;
  color: #2D3561;
  font-weight: 800;
  margin: 0px;
}

@media only screen and (max-width: 767px) {
  .preview-div .preview-content p {
    font-size: 18px;
  }
}

.preview-div .preview-content p span {
  font-style: italic;
  font-size: 28px;
  color: #FC7163;
}

@media only screen and (max-width: 767px) {
  .preview-div .preview-content p span {
    font-size: 24px;
  }
}

.preview-div .preview-content p.big {
  font-size: 50px;
  color: #FC7163;
  font-style: italic;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .preview-div .preview-content p.big {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .preview-div .preview-content p.big {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .preview-div .preview-content {
    position: relative;
    right: 0px;
    bottom: 0px;
  }
}

.title-text {
  color: #2D3561;
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .title-text {
    font-size: 24px;
  }
}

.title-text i {
  font-weight: 900;
}

.title-text .red {
  font-size: 55px;
  color: #FC7163;
  font-weight: 900;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text .red {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .title-text .red {
    font-size: 24px;
  }
}

.title-text .white {
  color: #ffffff;
}

.title-text .blue {
  font-size: 60px;
  color: #0086CA;
  font-weight: 900;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text .blue {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .title-text .blue {
    font-size: 24px;
  }
}

.title-text.smaller {
  font-size: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text.smaller {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .title-text.smaller {
    font-size: 20px;
  }
}

.title-text.smaller .blue {
  font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text.smaller .blue {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .title-text.smaller .blue {
    font-size: 22px;
  }
}

.title-text.smaller .red {
  font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text.smaller .red {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .title-text.smaller .red {
    font-size: 22px;
  }
}

.btc-section {
  background-image: url(../img/bg-blue.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right center;
  text-align: center;
}

.btc-section h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 80px;
}

.btc-section h2 .yellow {
  color: #FFE37B;
  font-weight: 900;
  font-style: italic;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btc-section h2 {
    font-size: 30px;
    padding-top: 0px;
    text-align: center;
    color: #2c3033;
  }
}

@media only screen and (max-width: 767px) {
  .btc-section h2 {
    font-size: 24px;
    padding-top: 0px;
    text-align: center;
    color: #2c3033;
  }
}

.btc-section p {
  padding: 50px;
  font-size: 20px;
  color: #2D3561;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.btc-section p span {
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btc-section p span {
    color: #FC7163;
  }
}

@media only screen and (max-width: 767px) {
  .btc-section p span {
    color: #FC7163;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .btc-section p {
    padding: 20px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btc-section p {
    padding: 10px;
    text-align: center;
    color: #2c3033;
  }
}

@media only screen and (max-width: 767px) {
  .btc-section p {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: #2c3033;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .btc-section {
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btc-section {
    background: transparent;
  }
}

@media only screen and (max-width: 767px) {
  .btc-section {
    background: transparent;
  }
}

.black-section {
  background-color: #000000;
  text-align: center;
  padding: 100px 0px 80px;
}

.black-section h2 {
  font-size: 50px;
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .black-section h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .black-section h2 {
    font-size: 24px;
  }
}

.black-section h2 .blue {
  color: #0086CA;
  font-size: 60px;
  font-style: italic;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .black-section h2 .blue {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .black-section h2 .blue {
    font-size: 24px;
  }
}

.black-section h1 {
  font-size: 80px;
  color: #FFE37B;
  font-weight: 900;
  font-style: italic;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .black-section h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .black-section h1 {
    font-size: 24px;
  }
}

.black-section .title-text .blue {
  color: #0086CA;
  font-style: normal;
}

.black-section .gradient-btn {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .black-section .gradient-btn {
    display: inline-block;
  }
}

.black-section img {
  display: block;
  margin: 0 auto;
}

.services-section {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: white;
  background: linear-gradient(167deg, white 0%, #efefef 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.services-section::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/blueish-shape.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left bottom;
  z-index: -1;
}

.single-service {
  text-align: center;
  padding: 10px;
  margin: 20px 0px;
}

@media only screen and (max-width: 767px) {
  .single-service {
    margin: 10px 0px;
  }
}

.single-service img {
  max-width: 220px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .single-service img {
    max-width: 150px;
  }
}

.single-service h4 {
  font-size: 24px;
  font-weight: 900;
  color: #0086CA;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .single-service h4 {
    font-size: 16px;
  }
}

.texts-content {
  padding: 20px 0px;
}

.texts-content p {
  font-family: "Montserrat", sans-serif;
  color: #2D3561;
  font-size: 24px;
}

.texts-content p .blue {
  color: #1D44F9;
  font-weight: 900;
  font-style: italic;
}

.texts-content p.blue {
  color: #1D44F9;
  font-weight: 900;
  font-style: italic;
}

.texts-content p .red {
  color: #FC7163;
  font-weight: 900;
}

.texts-content p.red {
  color: #FC7163;
  font-weight: 900;
  font-style: italic;
}

.texts-content p i {
  font-weight: 900;
}

@media only screen and (max-width: 767px) {
  .texts-content p {
    font-size: 16px;
  }
}

.texts-content.blue p {
  color: #0086CA;
}

.bordered-box {
  border: 4px solid #0086CA;
  background: #ffffff;
  border-radius: 15px;
  padding: 80px 50px;
  text-align: center;
  margin-top: 40px;
  -webkit-box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.1);
}

.bordered-box h2 {
  font-size: 35px;
  color: #2D3561;
}

.bordered-box h2 .blue {
  color: #1D44F9;
}

@media only screen and (max-width: 767px) {
  .bordered-box h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .bordered-box {
    padding: 20px;
  }
}

.bitcointalk-section .preview-div .preview-content {
  bottom: auto;
  top: -80px;
  right: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bitcointalk-section .preview-div .preview-content {
    top: -15px;
  }
}

@media only screen and (max-width: 767px) {
  .bitcointalk-section .preview-div .preview-content {
    top: 0;
  }
}

.wave-section {
  background-image: url(../img//wave-bg.svg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.wave-section .title-text {
  padding-top: 90px;
}

.wave-section .tokens img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 40px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 40px 70px rgba(0, 0, 0, 0.1);
}

.important-section {
  position: relative;
  margin-top: 80px;
}

.important-section .svg-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.important-section .svg-wrap svg {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.important-section .gradient-btn {
  margin-bottom: 0 !important;
}

.white-box {
  position: relative;
  background: #ffffff;
  border: 2px solid #1D44F9;
  border-radius: 15px;
  padding: 50px 40px;
  margin-top: -120px;
}

@media only screen and (max-width: 767px) {
  .white-box {
    padding: 20px 10px;
  }
}

.white-box .list-block ul li {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .white-box .list-block ul li {
    font-size: 16px;
  }
}

.white-box .list-block.check-block ul li:before {
  background-image: url(../img/ok.svg);
}

.white-box .b-icon {
  position: absolute;
  right: 0px;
  top: -135px;
  width: 200px;
}

@media only screen and (max-width: 767px) {
  .white-box .b-icon {
    width: 100px;
    top: -50px;
    right: 0;
  }
}

.sub-title {
  font-size: 20px;
  color: #0086CA;
  margin-top: 24px;
}

.sub-title span {
  font-weight: 700;
}

.shadow-box {
  -webkit-box-shadow: 0px 20px 64px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 64px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .shadow-box {
    padding: 10px;
  }
}

.calculation-box {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding-bottom: 20px;
  border-radius: 40px;
  margin: 50px 0px 50px;
}

.calculation-box .head {
  background: #017fc3;
  background: -webkit-gradient(linear, left top, left bottom, from(#017fc3), to(#10b5ea));
  background: linear-gradient(180deg, #017fc3 0%, #10b5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#017fc3",endColorstr="#10b5ea",GradientType=1);
  padding: 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.calculation-box .head h4 {
  margin: 0px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .calculation-box .head h4 {
    font-size: 16px;
  }
}

.calculation-box .calc-list {
  padding: 30px;
}

@media only screen and (max-width: 767px) {
  .calculation-box .calc-list {
    padding: 10px;
  }
}

.calculation-box .calc-list .single-calc {
  padding: 30px 10px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-bottom: 20px;
}

.calculation-box .calc-list .single-calc .title {
  text-align: center;
  border-bottom: 2px solid #cfd8dc;
}

.calculation-box .calc-list .single-calc .title h4 {
  font-size: 16px;
  color: #0086CA;
  font-weight: 700;
}

.calculation-box .calc-list .single-calc .title h4 i {
  display: block;
  font-weight: 900;
}

.calculation-box .calc-list .single-calc .title .img-wrap {
  min-height: 120px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculation-box .calc-list .single-calc .text {
  padding-top: 20px;
}

.calculation-box .calc-list .single-calc .text p {
  color: #2c3033;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
}

.calculation-box .calc-list .single-calc .text p.big {
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  color: #0086CA;
  margin-bottom: 15px;
}

.calculation-box .calc-list .single-calc.active {
  border: 8px solid #0086CA;
}

.calculation-box .calc-list .single-calc.active .text p {
  color: #2D3561;
  font-size: 15px;
  font-weight: 700;
}

.calculation-box .calc-list .single-calc.active .text p.big {
  font-size: 22px;
  color: #FC7163;
}

.calculation-box.pink .head {
  background: #ff498f;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff498f), to(#ffaf8f));
  background: linear-gradient(180deg, #ff498f 0%, #ffaf8f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff498f",endColorstr="#ffaf8f",GradientType=1);
}

.calculation-box.pink .calc-list .single-calc.active {
  border: 8px solid #FC7163;
}

.requirements-section .shadow-list {
  padding: 20px 0px;
}

.requirements-section .shadow-box {
  min-height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .requirements-section .shadow-box {
    min-height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .requirements-section .shadow-box {
    min-height: auto;
  }
}

.download-section {
  position: relative;
  background-image: url(../img/oval2-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50px center;
}

.download-section .single-phone {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .download-section .download-btn {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .download-section .download-btn {
    display: block;
  }
}

.benefits-section {
  background-image: url(../img/man-with-laptop.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 45%;
}

.benefits-section .intro-video {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .benefits-section {
    background: transparent;
  }
}

@media only screen and (max-width: 767px) {
  .benefits-section {
    background: transparent;
  }
}

.own-section {
  background-image: url(../img/own-bg.svg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.futurevalue-section {
  background-image: url(../img/futurevalue-bg.svg);
  background-size: cover;
  background-position: 50px bottom;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .futurevalue-section {
    background-position: 50px top;
  }
}

.single-value {
  margin: 15px 0px;
}

.single-value .icon {
  margin-bottom: 20px;
}

.single-value h4 {
  font-weight: 700;
  color: #2D3561;
  font-size: 20px;
}

.single-value p {
  font-size: 18px;
  color: #2D3561;
}

.exchange-section {
  background-image: url(../img/exchange-bg.svg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-top: 250px;
}

@media only screen and (max-width: 767px) {
  .exchange-section {
    min-height: auto;
    padding-top: 200px;
    background-position: center bottom;
  }
}

.exchange-section .texts-content p {
  color: #ffffff;
}

.quote-section .quote-text {
  text-align: left;
}

.quote-section .quote-text p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.quote-section .quote-text h4 {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 50px;
}

@media only screen and (max-width: 767px) {
  .quote-section .quote-text h4 {
    font-size: 28px;
  }
}

.quote-section .quote-text h4 .blue {
  color: #0086CA;
}

@media only screen and (max-width: 767px) {
  .quote-section .quote-text h4 .blue {
    font-size: 28px;
  }
}

.why-section {
  background-image: url(../img/why-bg.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: -50px top;
  position: relative;
}

.single-why {
  display: -ms-grid;
  display: grid;
  position: relative;
  min-height: 130px;
  padding-left: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .single-why {
    min-height: 60px;
    padding-left: 70px;
  }
}

.single-why img {
  max-width: 110px;
  position: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 767px) {
  .single-why img {
    max-width: 50px;
  }
}

.single-why h4 {
  font-size: 24px;
  color: #2D3561;
}

@media only screen and (max-width: 767px) {
  .single-why h4 {
    font-size: 16px;
  }
}

.convinced-section {
  background-image: url(../img/convinced-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.join-section {
  padding-bottom: 0px;
}

.section-title h2 {
  color: #2c3033;
}

@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 24px;
  }
}

.section-title p {
  max-width: 600px;
  margin: 0 auto;
}

.single-social {
  display: inline-block;
  position: relative;
  border: 1px solid #F0F6F8;
  width: 100%;
  padding: 10px;
  margin: 15px 0px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #1D44F9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-social img {
  max-width: 50px;
  margin-right: 10px;
}

.single-social span {
  color: #2c3033;
  font-weight: 700;
  font-size: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-social span {
    font-size: 11px;
  }
}

.single-social:hover {
  opacity: 0.8;
}

.question-section {
  background: #017abf;
  background: -webkit-gradient(linear, left top, right top, from(#017abf), to(#14c2f3));
  background: linear-gradient(90deg, #017abf 0%, #14c2f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#017abf",endColorstr="#14c2f3",GradientType=1);
  position: relative;
}

.question-section::before {
  position: absolute;
  content: "";
  right: 50px;
  top: 10px;
  width: 150px;
  height: 150px;
  background-image: url(../img/ring.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.question-section h4 {
  color: #ffffff;
}

.question-section p {
  color: #ffffff;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .question-section .white-btn {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .question-section .white-btn {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */