.exchange-section{
  background-image: url(../img/exchange-bg.svg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-top: 250px;
  @include sm{
    min-height: auto;
    padding-top: 200px;
    background-position: center bottom;
  }
  .texts-content{
    p{
      color: $white;
    }
  }
}