.intro-area {
  background-image: url(../img/herobg.svg);
  background-size: cover;
  background-position: center center;
  .intro-text {
    text-align: center;
    padding: 60px 0px 30px;
    h2 {
      font-weight: 900;
      color: $primaryColor;
      font-size: 60px;
      @include sm{
        font-size: 35px;
      }
    }
    img {
      &.people {
        width: 100%;
        max-width: 900px;
      }
    }
    p {
      font-family: $primaryFont;
      font-size: 24px;
      font-weight: 700;
      margin: 30px 0px;
      color: $navyColor;
      @include sm{
        font-size: 20px;
      }
      span {
        font-style: italic;
        color: $blueColor;
        display: block;
      }
    }
  }
}
.intro-video {
  display: inline-block;
  position: relative;
  img {
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
  }
  .icon {
    position: absolute;
    left: 50%;
    display: inline-block;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      max-width: 100px;
      border-radius: 50%;
      @include sm {
        max-width: 50px;
      }
      -webkit-animation: glowing 1500ms infinite;
      -moz-animation: glowing 1500ms infinite;
      -o-animation: glowing 1500ms infinite;
      animation: glowing 1500ms infinite;
      @-webkit-keyframes glowing {
        0% {
          background-color: $primaryColor;
          -webkit-box-shadow: 0 0 3px $primaryColor;
        }
        50% {
          background-color: $primaryColor;
          -webkit-box-shadow: 0 0 40px $primaryColor;
        }
        100% {
          background-color: $primaryColor;
          -webkit-box-shadow: 0 0 3px $primaryColor;
        }
      }

      @-moz-keyframes glowing {
        0% {
          background-color: $primaryColor;
          -moz-box-shadow: 0 0 3px $primaryColor;
        }
        50% {
          background-color: $primaryColor;
          -moz-box-shadow: 0 0 40px $primaryColor;
        }
        100% {
          background-color: $primaryColor;
          -moz-box-shadow: 0 0 3px $primaryColor;
        }
      }

      @-o-keyframes glowing {
        0% {
          background-color: $primaryColor;
          box-shadow: 0 0 3px $primaryColor;
        }
        50% {
          background-color: $primaryColor;
          box-shadow: 0 0 40px $primaryColor;
        }
        100% {
          background-color: $primaryColor;
          box-shadow: 0 0 3px $primaryColor;
        }
      }

      @keyframes glowing {
        0% {
          background-color: $primaryColor;
          box-shadow: 0 0 3px $primaryColor;
        }
        50% {
          background-color: $primaryColor;
          box-shadow: 0 0 40px $primaryColor;
        }
        100% {
          background-color: $primaryColor;
          box-shadow: 0 0 3px $primaryColor;
        }
      }
    }
    .text{
      font-family: $primaryFont;
      display: block;
      color: $primaryColor;
      font-weight: 800;
      margin-top: 10px;
    }
  }
}
