.intro-area {
  background-image: url(../img/herobg.svg);
  background-size: cover;
  background-position: center center;
  .intro-text {
    text-align: center;
    padding: 60px 0px 30px;
    h2 {
      font-weight: 900;
      color: $primaryColor;
      font-size: 60px;
      @include sm{
        font-size: 35px;
      }
    }
    img {
      &.people {
        width: 100%;
        max-width: 900px;
      }
    }
    p {
      font-family: $primaryFont;
      font-size: 24px;
      font-weight: 700;
      margin: 30px 0px;
      color: $navyColor;
      @include sm{
        font-size: 20px;
      }
      span {
        font-style: italic;
        color: $blueColor;
        display: block;
      }
    }
  }
}
.intro-video {
  display: inline-block;
  position: relative;
  img {
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
  }
  .icon {
    position: absolute;
    left: 50%;
    display: inline-block;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      max-width: 100px;
      @include sm{
        max-width: 50px;
      }
    }
    .text{
      font-family: $primaryFont;
      display: block;
      color: $white;
      font-weight: 800;
      margin-top: 10px;
    }
  }
}
