
.preview-div {
  position: relative;
  
  .disclaimer-text {
    p {
      font-style: italic;
      color: $primaryColor;
      margin-top: 20px;
      a {
        font-style: italic;
        color: $primaryColor;
      }
    }
  }
  .preview {
    border-radius: 30px;
    @include sm{
      border-radius: 10px;
    }
  }
  .preview-content {
    background-color: $white;
    min-width: 300px;
    padding: 30px;
    border-radius: 45px;
    box-shadow: 10px 50px 59px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: -30px;
    bottom: -20px;padding: 20px;
    @include lg {
      right: 0;
    }
    @include md {
      right: 0;
      width: auto;
    }
    @include sm {
      right: 0;
      min-width: auto;
    }
    p {
      font-size: 20px;
      color: $navyColor;
      font-weight: 800;
      margin: 0px;
      @include sm{
        font-size: 18px;
      }
      span {
        font-style: italic;
        font-size: 28px;
        color: $primaryColor;
        @include sm{
          font-size: 24px;
        }
      }
      &.big {
        font-size: 50px;
        color: $primaryColor;
        font-style: italic;
        @include md {
          font-size: 40px;
        }
        @include sm {
          font-size: 30px;
        }
      }
    }
    @include sm {
      position: relative;
      right: 0px;
      bottom: 0px;
    }
  }
}

.title-text {
  color: $navyColor;
  font-size: 40px;
  font-weight: 700;
  @include md {
    font-size: 35px;
  }
  @include sm {
    font-size: 24px;
  }
  i{
    font-weight: 900;
  }
  .red {
    font-size: 55px;
    color: $primaryColor;
    font-weight: 900;
    @include md {
      font-size: 40px;
    }
    @include sm {
      font-size: 24px;
    }
  }
  .white{
    color: $white;
  }
  .blue {
    font-size: 60px;
    color: $secondaryColor;
    font-weight: 900;
    @include md {
      font-size: 40px;
    }
    @include sm {
      font-size: 24px;
    }
  }
  .real-blue {
    font-size: 40px;
    color: $blueColor;
    @include md {
      font-size: 30px;
    }
    @include sm {
      font-size: 24px;
    }
  }
  &.smaller{
    font-size: 30px;
    @include md{
      font-size: 24px;
    }
    @include sm{
      font-size: 20px;
    }
    .blue {
      font-size: 40px;
      @include md{
        font-size: 28px;
      }
      @include sm{
        font-size: 22px;
      }
    }
    .red{
      font-size: 40px;
      @include md{
        font-size: 28px;
      }
      @include sm{
        font-size: 22px;
      }
    }
  }
  &.mt-5{
    @include sm{
      margin-top: 0px !important;
    }
  }
}
