.quote-section{
  @include md{
    padding: 50px 0px 0px;
  }
  @include sm{
    padding: 50px 0px 0px;
  }
  .quote-text{
    text-align: left;
    p{
      color: $white;
      font-size: 20px;
      font-weight: 700;
    }
    h4{
      margin-top: 30px;
      font-family: $secondaryFont;
      color: $white;
      font-size: 50px;
      @include sm{
        font-size: 28px;
      }
      .blue{
        color: $secondaryColor;
        @include sm{
          font-size: 28px;
        }
      }
    }
  }
  img{
    @include md{
      max-width: 350px;
      margin: 0px;
    }
    @include sm{
      max-width: 200px;
      margin: 0px;
    }
  }
}