.services-section {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    167deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    167deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    167deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/blueish-shape.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: left bottom;
    z-index: -1;
  }
}

.single-service {
  text-align: center;
  padding: 10px;
  margin: 20px 0px;
  @include sm{
    margin: 10px 0px;
  }
  img {
    max-width: 220px;
    margin-bottom: 20px;
    @include sm{
      max-width: 150px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 900;
    color: $secondaryColor;
    text-transform: uppercase;
    @include sm{
      font-size: 16px;
    }
  }
}

.texts-content {
  padding: 20px 0px;
  p {
    font-family: $primaryFont;
    color: $navyColor;
    font-size: 24px;
    .blue {
      color: $blueColor;
      font-weight: 900;
      font-style: italic;
    }
    &.blue {
      color: $blueColor;
      font-weight: 900;
      font-style: italic;
    }
    .red {
      color: $primaryColor;
      font-weight: 900;
    }
    &.red {
      color: $primaryColor;
      font-weight: 900;
      font-style: italic;
    }
    i {
      font-weight: 900;
    }
    @include sm{
      font-size: 16px;
    }
  }
  &.blue{
    p{
      color: $secondaryColor;
    }
  }
}

.bordered-box {
  border: 4px solid $secondaryColor;
  background: $white;
  border-radius: 15px;
  padding: 80px 50px;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0px 24px 16px rgba(0,0,0,0.1);
  h2{
    font-size: 35px;
    color: $navyColor;
    .blue{
      color: $blueColor;
    }
    @include sm{
      font-size: 24px;
    }
  }
  @include sm{
    padding: 20px;
  }
}
